[Unit]
Description=Docker - Sonarqube container
Requires=docker-sonar-postgres.service
After=docker-sonar-postgres.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a sonar-alpine-centos7
ExecStop=/usr/bin/docker stop -t 2 sonar-alpine-centos7

[Install]
WantedBy=default.target
